.header {
	z-index: 1;
	width: 100vw;
	max-height: 5rem;

	position: fixed;
}

.container {
	width: 100%;
	position: relative;

	display: flex;
	justify-content: space-evenly;
}

.header h2 {
	margin: 1.7rem;
}

.left, .right {
	display: flex;
	width: 50%;
	justify-content: space-evenly;
}

.logo {
	border-radius: 50%;
	width: 10%;
	max-width: 10rem;
	min-width: 8rem;

	padding: .7rem;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

.logoImg {
	border-radius: 50%;
}

.drawer {
	margin: .5rem;
}

@media screen and (max-width: 700px) {
	.logo {
		min-width: 25%;
	}

	.left>h2, .right>h2 {
		display: none;
	}
}
